<div class="mb-4">
  <app-navi></app-navi>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col-md-3 mw-100">
      <div class="row">
        <app-brand></app-brand>
      </div>
      <div class="row">
        <app-color></app-color>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <app-car></app-car>
      </div>
      <div class="row">
        <app-rental></app-rental>
      </div>
    </div>
  </div>
</div>

<!-- Burayı sayfan gibi kullanıcan divler vs burada olucak -->

<router-outlet></router-outlet>
